/* styles.css */

/* Paleta de colores */
:root {
    --color-primario: #0d6efd; /* Azul de Bootstrap */
    --color-secundario: #000000; /* Negro */
    --color-fondo: #1a1a1a; /* Negro ligeramente aclarado */
    --color-texto: #ffffff; /* Blanco */
  }
  
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }
  
  /* Estilos para centrar y destacar el título */
  .titulo-principal {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primario);
  }
  
  /* Estilos de la navbar */
  .navbar {
    background-color: var(--color-secundario);
  }
  
  /* Estilos del pie de página */
  .footer {
    background-color: var(--color-secundario);
  }
  
  .footer .text-muted {
    color: #b3b3b3 !important;
  }
  
  .navbar {
    background-color: var(--color-secundario);
  }
  
  .card {
    background-color: #212529; /* Fondo oscuro */
    color: var(--color-texto);
  }
  
  .btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
  }
  
  .btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
  
  .form-select, .form-control {
    background-color: #2c2c2c;
    border-color: #444;
    color: var(--color-texto);
  }
  
  .form-select:focus, .form-control:focus {
    background-color: #2c2c2c;
    border-color: var(--color-primario);
    color: var(--color-texto);
  }
  
  .card-title img {
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  .card-text.display-6 {
    font-size: 2rem;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  /* Opcional: Estilos para ajustar el tamaño de las flechas */
  .card-text span {
    font-size: 1.2em;
    vertical-align: middle;
  }
  /* Estilos para el indicador de cambio */
.VOXKNe {
  letter-spacing: .00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 8px;
  border-radius: 8px;
  width: min-content;
  min-width: 40px;
  display: inline-block;
}

.VOXKNe.up {
  color: rgb(13, 123, 0); /* Verde */
  background: rgb(220, 255, 220); /* Verde claro */
}

.VOXKNe.down {
  color: rgb(165, 14, 14); /* Rojo */
  background: rgb(252, 232, 230); /* Rojo claro */
}

.VOXKNe.no-change, .VOXKNe.no-data {
  color: rgb(108, 117, 125); /* Gris */
  background: rgb(230, 230, 230); /* Gris claro */
}

/* Opcional: Estilos para el SVG */
.VOXKNe svg {
  vertical-align: middle;
  margin-right: 4px;
}